.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #09d3ac;
}

.images {
  margin  : 10px;
  height  : 250px;
  position: sticky;



}

.mainDiv {
  margin         : 70px;
  justify-content: center;
  align-Items    : center;
  flex-direction : row;

}

@media screen and (max-width: 600px) {
  .images {
    margin: 0px;
    width : 100%;
    transition: 1s;
  }
  .newHeader {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 50%;
  
  }
  

  .mainDiv {
    margin: 0px;
    width : 100%;
  }
}

.imagesOpacity {
  margin         : 10px;
  height         : 250px;
  position       : sticky;
  backdrop-filter: opacity(.4);
}

.images:hover {
  margin    : 5;
  z-index   : 20;
  box-shadow: 5px 10px #665f5f;
  transition: 1s;
  transform: scale(1.2);
}

.newHeader {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  width          : 40%;

}

.toolBar {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : flex-end;
  height         : 100%;
}

.Home {
  color: black;
}

.Blogs {
  color: black;
}

.contact {
  color: black;
}

.Home:hover {
  border-bottom-color: orange;
border-bottom-width: 3px;
  border-bottom-style: solid;
}

.contact:hover {

  border-bottom-color: orange;
  border-bottom-width: 3px;
    border-bottom-style: solid;
}

.Blogs:hover {
  border-bottom-color: orange;
  border-bottom-width: 3px;
    border-bottom-style: solid;
}

